:root {
    --primary: #000000;
    --secondary: #0ea7c2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--secondary);
    font-family: 'Press Start 2P', sans-serif;
}

/* BODY */

body {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
    height: 100vh;
}

/* TITLE */

#title {
    font-size: 6em;
}

/* DESCRIPTION */

#description-div {
    padding: 20px 0 30px 0;
}

/* BUTTONS */

#buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    padding: 20px 0;
}

/* GRID */

#grid-div {
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

/* GRID BLOCK STYLES */
#reset-btn, .style-btn {
    background-color: transparent;
    padding: 5px 10px;
}
.block-empty {
    background-color: var(--primary);
}
.block-colored-blue {
    background-color: var(--secondary);
}
.block-colored-gold {
    background-color: rgb(250, 170, 58);
}
.block-colored-rainbow {
    background-color: black;
}


/* RESULT */

#result-div {
    padding: 40px 0 10px 0 ;
}

/* STYLE */

.thick-border {
    border: 3px solid var(--secondary);
}

.text-div p {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
    text-align: center;
}

/*SLIDE STYLE*/
/*https://www.w3schools.com/howto/howto_js_rangeslider.asp*/
.slider {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: var(--secondary);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--secondary);
    cursor: pointer;
  }